<p id="notice"><%= notice %></p>
<script>
  var lonlat = undefined;
  var markers = undefined;
  var icon = undefined;
  var updateinterval = 15000;
  var zoom = 14;
  var lonlatcenter = new OpenLayers.LonLat( 40.12489558, 45.85340927).transform(
    new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
  
  function refresh(){
    markers.destroy();
    markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
    $.getJSON( "<%= api_getlastdrivercoord_path(current_user.login, current_user.password) %>", function( jsondata ) {
      for (var i = 0; i < jsondata.length; i++) {
        lonlat = new OpenLayers.LonLat( jsondata[i].lon, jsondata[i].lat).transform( 
          new OpenLayers.Projection("EPSG:4326"), 
          new OpenLayers.Projection("EPSG:900913") 
        );
		var size = new OpenLayers.Size(50,60);
		var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
        icon = new OpenLayers.Icon('/img/'+jsondata[i].icon, size, offset);
		//icon = new OpenLayers.Icon('/img/'+jsondata[i].icon);
        markers.addMarker(new OpenLayers.Marker(lonlat, icon));
      }
    });
  }

  function init() {
    var mapnik = new OpenLayers.Layer.OSM();
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(mapnik);
    markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
    $.getJSON( "<%= api_getlastdrivercoord_path(current_user.login, current_user.password) %>", function( jsondata ) {
      for (var i = 0; i < jsondata.length; i++) {
        lonlat = new OpenLayers.LonLat(jsondata[i].lon, jsondata[i].lat).transform( new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913") );
        icon = new OpenLayers.Icon('/img/'+jsondata[i].icon);
        markers.addMarker(new OpenLayers.Marker(lonlat, icon));
      }
    });
    map.setCenter(lonlatcenter, zoom);
    setTimeout('refresh();', 1000);
    setInterval('refresh();', updateinterval);
  }
</script>
<div id="mapdiv"></div>
