<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>OpenLayers OSM and Google Example</title>
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script src="/javascripts/osm-marker-popup_2.js"></script>
</head>
<script type="text/javascript">
  lat = <%= @lat %>;
  lon = <%= @lon %>;
</script>
<body onload="init()">
  <div id="map" class="smallmap"></div>
</body>
</html>
