<style type="text/css">
 table.mystyle
{
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: solid;
}
.mystyle td, .mystyle th
{
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    text-align: center;
}
</style>

<table class="mystyle">
	<% for i in 2..@num_queues do %>
		<tr>
			<td><div align="left"><%= @points[i]['name'] %></div></td>
			<% unless @points[i]['queue'].empty? %>
				<% @points[i]['queue'].each do |q| %>
					<% if q['car_num'] == @user.car %>
						<td bgcolor="lightgreen" align="center">
							<font color="black" face="Geneva, Arial" size="3">
							<%= q['car_num'] %>
							</font>
						</td>
					<% else %>
						<td>
							<font color="black" face="Geneva, Arial" size="3">
								<%= q['car_num'] %>
							</font>
						</td>
					<% end %>
				<% end %>
				<% logger.debug "#{@max_col} #{@points[i]['queue'].size} #{@max_col - @points[i]['queue'].size}" %>
				<% cols = @max_col - @points[i]['queue'].size %>
				<% for j in 1..cols do %>
					<td>&nbsp</td>
				<% end %>
			<% else %>
				<td colspan="<%= @max_col %>">
					<font color="black" face="Geneva, Arial" size="3">
						никого нет
					</font>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>
