<h1>Операции с пользователями</h1>
<ul>
  <li><%= link_to "Создать пользователя", user_new_path %></li>
	<li><%= link_to "Показать всех пользователей", user_showall_path %></li>
	<li><%= link_to "Массово назначить таксометр для регулярных водителей", user_mass_assign_taximeret_reg_driver_path %></li>
	<li><%= link_to "Массово назначить кредитную политику для регулярных водителей", medit_creditpol_regdrv_path %></li>
</ul>
