<!DOCTYPE HTML>
<html>
<head>
  <title>Трак для drivera</title>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <style>
    #mapdiv { width:95vw; height:80vh; }
    div.olControlAttribution { bottom:3px; }
  </style>
</head>
<body onload="init();">
  <%= render 'layouts/nav' %>
  <%= yield %>
</body>
</html>
