<!DOCTYPE HTML>
<html>
<head>
  <title>Трак для drivera</title>
  <script src="/javascripts/jquery-2.1.3.min.js"></script>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <!-- <script src="/osm/OpenLayers.js"></script> --!>
  <style>
    #mapdiv { width:98vw; height:97vh; }
    div.olControlAttribution { bottom:3px; }
  </style>
</head>
<body onload="init();">
  <%= yield %>
</body>
</html>
